<template>
    <div class="le_comps_core_css">
        <h4 class="le_page_name"><%= data.btn.pageName %></h4>
        <div class='le_list_search_pannel clearfix'>
            <div class="col1">
                <le-input labelWidth="120" label="订单编号:" v-model="searchModel.orderCode"></le-input>
            </div>
        </div>
        <div class="le_search_btn_group cleatfix">
            <le-button type="create" value="新建" @click="add"></le-button>
        </div>
        <div class='le_table_container'>
            <table-list title="<%= data.btn.pageName %>" ref='black_list_table' :options='tableOptions'></table-list>
        </div>
    </div>
</template>
<script>
import <%= data.commonUtil.name %> from '<%= data.commonUtil.filePath %>';

export default {
    name:"",
    data(){
        return {}
    },
    computed:{

    },
    methods:{

    },
    mounted(){
        
    }
}
</script>
<style scoped>
    
</style>
